
    // PRIMARY //
$clr-100 : hsl(179, 62%, 43%);
$clr-200 : hsl(71, 73%, 54%);
    // NEUTRAL //
$clr-300 : hsl(204, 43%, 93%);
$clr-400 : hsl(218, 22%, 67%);

$ff-100 : 'Karla', sans-serif;

$fs-100 : 1rem ;

$fw-1 : 100; $fw-2 : 200; $fw-3 : 300; $fw-4 : 400; $fw-5 : 500; $fw-6 : 600; $fw-7 : 700; $fw-8 : 800; $fw-9 : 900;

$flx : flex; $grd : grid ;
$cntr : center; $strt : start; $end : end; $btwn : space-between; $arnd : space-around; $evnly : space-evenly;

